<div class="copyright" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>
                    Copyright © 2026
                    <a href="/">
                        YQH 工具箱
                    </a>
                </span>
                |
                <span>
                    <a href="https://github.com/yqh-core/yqh-php-tool" target="_blank" rel="noopener">
                        源码
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
<a class="gotop" href="#top" title="返回顶部" style="display: none;">
    <span class="arrow">
    </span>
    <span class="arrow lit">
    </span>
</a>
<script>
    tj();
</script>
