<div class="copyright" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>
                    Copyright ©2026
                    <a href="/">
                        程序设计在线工具箱
                    </a>
                </span>
                |
                <span>
                    <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">
                        京ICP备12345678号
                    </a>
                </span>
            </div>
            <script>

            </script>
        </div>
    </div>
</div>
<a class="gotop" href="#top" title="返回顶部" style="display: none;">
    <span class="arrow">
    </span>
    <span class="arrow lit">
    </span>
</a>
<script>
    tj();
</script>
